body {
    background-color: Turquoise;
}

h1 {
    color: SteelBlue;
    padding: 5px;
    margin: 50px;
    border-style: ridge;
    border-color: SteelBlue
}

li {
    color: SteelBlue;
    padding: 5px;
    margin: 50px;
    border-style: ridge;
    border-color: SteelBlue
}


